<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Editar Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Control de Stocks</a>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/product}">Control de Stocks</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 container justify-content-center card">
          <h1 class="text-center">Edición de Producto</h1>
          <div class="card-body">
            <form th:action="@{/products/{id}(id=${product.id})}" th:object="${product}" method="POST">
            <div class="form-group">
              <label> Nombre : </label>
              <input type="text" name="name" th:field="*{name}" class="form-control" placeholder="Ingrese el nombre del Producto" required>
            </div>
            
            <div class="form-group">
              <label> Categoría : </label>
              <input type="text" name="category" th:field="*{category}" class="form-control" placeholder="Ingrese la caregoría del Producto" required>
            </div>
            
            <div class="form-group">
              <label> Descripción : </label>
              <input type="text" name="description" th:field="*{description}" class="form-control" placeholder="Ingrese la descripción del Producto" required>
            </div>
            
            <div class="form-group">
              <label> Precio : </label>
              <input type="text" name="price" th:field="*{price}" class="form-control" placeholder="Ingrese el precio del Producto" required>
            </div>
            
            <div class="form-group">
              <label> Cantidad : </label>
              <input type="text" name="quantity" th:field="*{quantity}" class="form-control" placeholder="Ingrese la cantidad del Producto" required>
            </div>
            
            <div class="form-group">
              <label> Foto : </label>
              <input type="text" name="photo" th:field="*{photo}" class="form-control" placeholder="Ingrese la foto del Producto" required>
            </div>
            
            <div class="box-footer">
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
